@import url('https://fonts.googleapis.com/css?family=Cinzel|Rock+Salt');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Rock Salt', cursive;
  line-height: 1.5;
  padding: 30px 20px;
text-align: center;
align-content: center;
}

body {
  background-image: url(images/portal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration-color:
}

h3 {
  color: white;
  padding: 20px 0px 10px 0px;
font-size: 30pt;
}
p {
  color: white;
  padding: 20px 0px 10px 0px;
font-size: 25pt;
}

a {
color: #ffffff;
text-decoration: none;
}
